$orange: #FFCC00;

.front-page{

  .banner{
  
    overflow:hidden;
    margin-top:-100px;
    min-height:600px;
  
    .video{
      position:absolute;
      min-width: 100%;
      video{
        min-height: 600px;
        min-width: 100%;
        position:absolute;
        top:0;
        left:0;
        
        opacity: .6;
        z-index: 1;
        -webkit-transition: opacity 1500ms linear;
        -moz-transition: opacity 1500ms linear;
        transition: opacity 1500ms linear;
      }
    }
    
    .absolute-wrapper{
      position:absolute;
      width:100%;
      z-index:2;
    }
    
    .code-block{
      margin:250px 16px 25px;
    }
    
    .buttons{
      float:left;
      margin-left:16px;
      clear:left;
      
      .btn{
        color:#FFF;
        font-size:30px;
        font-family:"Roboto Slab";
        font-weight:300;
        padding:8px 24px;
        margin-right:8px;
        border-radius:3px;
        background:$orange;
        border:1px solid $orange;
        
      }
      .btn-invert{
        background:transparent;        
      }
    }
    
    .iphone-mockup{
      float:right;
      height:300px;
      margin-top:200px;
      overflow:hidden;
    }
    
  }
  
  
  .tech{
    text-align:center;
    img{
      margin:0 8px;
    }
    p{
      clear:both;
      margin:24px;
    }
  }
  
  @media screen and (max-width: 720px) {
      .iphone-mockup{
        display:none;
      }
  }
  
}