// bower:scss
// endbower
$roboto: "Roboto Slab";
$lato: "Lato";
$orange: #FFCC00;

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?55589523');
  src: url('fonts/fontello.eot?55589523#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?55589523') format('woff'),
       url('fonts/fontello.ttf?55589523') format('truetype'),
       url('fonts/fontello.svg?55589523#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background:#D2D5DA;
  font-family:"Lato";
}

/* Navbar */
.navbar.navbar-default{
  background-color:#FFF;
  background: rgba(255,255,255,0.6);
  margin:0;
  border:0;
  border-radius:0;
  z-index:3;
  
  .container-fluid{
    max-width:1300px;
  }

  .navbar-brand.logo{
    margin:0;
    padding:0;
    margin:8px 0 24px;
    
    img{
      display:inline-block;
      height:60px;
    }
    
    h1{
      font-family:$roboto;
      font-size:38px;
      font-weight:200;
      color:#333;
      display:inline-block;
      padding:0;
      margin:0;
      vertical-align:middle;
    }
  }
  
  .navbar-nav{
    float:right;
    
    li {
      font-family:$roboto;
      font-weight:400;
      padding:13px 16px 16px;
      width:auto;
      border-top:3px solid transparent;
    }
    li:hover{
      border-top:3px solid $orange;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.banner{
  width:100%;
  min-height:500px;
  background:#333;
  position:relative;
  
  .inner{
    margin:auto;
    max-width:1300px;
  }
  
  .code-block{
    margin:72px 16px 25px;
    float:left;
    
    p{
      color:$orange;
      font-size:24px;
      font-family:"Roboto Slab";
      font-weight:200;
      
      .spacer{
        display:inline-block;
        width:30px;
      }
      
    }
  }
}
.banner.banner-slim{
  min-height:180px;
}

.headline{
    text-align:center;
    text-align: center;
    padding: 78px 0;
    
    h1{
      font-size:46px;
      font-weight:300;
    }
    h4{
      font-size:22px;
      font-weight:300;
    }
  }
  
.feature{
  margin:72px 0;
  display:flex;
  
  .icon{
    font-family: 'fontello';
    font-size: 150px;
    width: 321px;
    margin: 13px;
    line-height: 200px;
    text-align:center;
  }
}

/* imports */
@import 'frontpage';
@import 'docs';