<div class="code-page">

    <section class="banner banner-slim">
        <div class="inner">
            <div class="code-block">
                <p> > $  <span class="spacer"></span> code</p>
            </div>
        </div>
    </section>

    <div class="container">

        <section class="feature mobile-code">
            <div class="icon" >&#59394;</div>
            <div class="body" style="margin-top:25px; width:300px">
                <h3>Mobile</h3>
                <p>Minds Mobile allows you to connect to any Minds node.</p>
                <a href="https://github.com/Minds" class="btn">Explore Code</a>
            </div>
        </section>

                <p>Minds Mobile allows you to connect to any Minds node natively using a mobile device.</p>
                <a href="https://github.com/Minds/mobile" class="btn">Explore Code</a>
            </div>
        </section>

      <section class="feature front-code">
        <div class="icon" >&#59395;</div>
        <div class="body" style="margin-top:25px; width:300px">
          <h3>Web</h3>
          <p>Minds Web allows you to connect to any Minds node using a web browser.</p>
          <a href="https://github.com/Minds/front" class="btn">Explore Code</a>
        </div>
      </section>

        <section class="headline">
            <h1>Coming Soon.</h1>
            <h4>Core Engine. Cinemr (video transcoder). Wordpress Plugin</h4>
        </section>


    </div>



</div>
