<div class="code-page">

    <section class="banner banner-slim">
        <div class="inner">
            <div class="code-block">
                <p> > $  <span class="spacer"></span> governance</p>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="headline">
            <h1>Powered by the people.</h1>
            <h4>Minds.org is a democratically governed co-operative, governed by the people.</h4>
        </section>

        <section class="feature">
            <div class="icon" style="color:green;">&#59396;</div>
            <div class="body" style="margin-top:50px;">
                <h3>Under construction</h3>
                <p>We are currently working on creating the community, constitution and voting models. Please standby...</p>
            </div>
        </section>

    </div>

</div>
