<div class="front-page">
    
    <!-- Banner -->
    <section class="banner">
        <div class="video">
            <video autoplay="" muted="" loop=""> 
                <source src="images/Yosemite-360.532d4467.mp4#t=28,300" type="video/mp4">
                <source src="images/Yosemite-360.c29d3e58.webm#t=28,300" type="video/webm">
                <!-- for testing -->
                <source src="images/Yosemite-360.mp4#t=28,300" type="video/mp4">
                <source src="images/Yosemite-360.webm#t=28,300" type="video/webm">
            </video>
        </div>
    
        <div class="absolute-wrapper">
            <div class="inner">
                <!--<div class="iphone-mockup">
                    <img src="images/iphone-mockup.png"/>
                </div>-->
                <div class="code-block">
                    <p> > $  <span class="spacer"></span> hello </p>
                    <p> > $  <span class="spacer"></span>    welcome to minds.org </p>
                </div>
                <div class="buttons">
                    <a href="#/docs" class="btn" >Docs</a>
                    <a href="#/code" class="btn btn-invert">Code</a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Splash title -->
    <section class="headline">
        <h1>Scalable. Free & Open Source.</h1>
        <h4>Minds is a full purpose, enterprise grade social networking stack.</h4>
    </section>
    
    <section class="tech">

            <img src="images/tech-cassandra.png"/>
            <img src="images/tech-neo4j.png"/>
            <img src="images/tech-cordova.png"/>
            <img src="images/tech-angularjs.png"/>
            <img src="images/tech-php.png"/>
            <img src="images/tech-nginx.png"/>
            <img src="images/tech-elastic.png"/>
            
            <p>Our platform is build on latest and greatest technologies.</p>
            
    </section>
    

</div>
