<div class="front-page">
    
    <!-- Banner -->
    <section class="banner">
        <div class="inner">
            <div class="iphone-mockup">
                <img src="images/iphone-mockup.png"/>
            </div>
            <div class="code-block">
                <p> > $  <span class="spacer"></span> hello </p>
                <p> > $  <span class="spacer"></span>    welcome to minds.org </p>
            </div>
            <div class="buttons">
                <a href="#/docs" class="btn" >Docs</a>
                <a href="#/code" class="btn btn-invert">Code</a>
            </div>
        </div>
    </section>
    
    
    <!-- Splash title -->
    <section class="headline">
        <h1>Scalable. Free & Open Source.</h1>
        <h4>Minds is a full purpose, enterprise grade social networking stack.</h4>
    </section>
    

</div>
